.div-day
{
  background-color: #84C9C0;
  height: 150px;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}


.div-center-schedule
{
  display: flex;
  flex-direction: column;
  margin-top: 30%;
}
.div-form-schedule-confirm
{
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
}
.date-schedule
{
  color: white;
  font-size: 22px;
}

